<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnglishConnectionString" connectionString="Data Source=GIAO-PC\SQLEXPRESS;Initial Catalog=English;Integrated Security=True"
            providerName="System.Data.SqlClient" />
       
    </connectionStrings>
</configuration>